name: Upgrade (reusable)

on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: false
        description: The github-mgmt-template ref to upgrade to
        default: master
    secrets:
      GITHUB_APP_ID:
        required: true
      GITHUB_APP_INSTALLATION_ID:
        required: true
      GITHUB_APP_PEM_FILE:
        required: true

jobs:
  upgrade:
    name: Upgrade
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Generate app token
        id: token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.GITHUB_APP_ID }}
          installation_retrieval_mode: id
          installation_retrieval_payload: ${{ secrets.GITHUB_APP_INSTALLATION_ID }}
          private_key: ${{ secrets.GITHUB_APP_PEM_FILE }}
      - name: Checkout GitHub Management template
        uses: actions/checkout@v4
        with:
          repository: pl-strflt/github-mgmt-template
          path: github-mgmt-template
          ref: ${{ github.event.inputs.ref }}
      - name: Checkout GitHub Management
        uses: actions/checkout@v4
        with:
          path: github-mgmt
          token: ${{ steps.token.outputs.token }}
      - name: Copy files from the template
        run: |
          for file in $(git ls-files ':!:github/*.yml' ':!:scripts/src/actions/fix-yaml-config.ts' ':!:terraform/*_override.tf' ':!:.github/workflows/*_reusable.yml' ':!:README.md'); do
            mkdir -p "../github-mgmt/$(dirname "${file}")"
            cp -f "${file}" "../github-mgmt/${file}"
          done
        working-directory: github-mgmt-template
      - uses: ./github-mgmt-template/.github/actions/git-config-user
      - run: |
          git add --all
          git diff-index --quiet HEAD || git commit --message="upgrade@${GITHUB_RUN_ID}"
        working-directory: github-mgmt
      - uses: ./github-mgmt-template/.github/actions/git-push
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          suffix: upgrade
          working-directory: github-mgmt
